<html lang="en">
<head>
    <!-- HTML 1 EX_5 -->
    <meta charset = "utf-8"/>
    <meta name="description" content="first project in HTML">
   <meta name="keywords" content="HTML, developer, CSS, Computer Scientist">
   <meta name="author" content="Abdullah">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <!-- HTML 1 - Exercise 2 -->
    <h1>More details about me</h1>
    <br>
    <img src="a77c0264-7fcc-423e-87b6-b06aaa6b648f.jpg" alt="" style="height: 400px;">
    <br>
    <h2>I am a Computer Scientist student at King Fahd University of Petroleum and Minerals, and the picture provided above- <br>
         is the biggest project I worked in during my journey in college. <br> <br>
        The application is called Torno, it helps sports organizers to create and maintain tournaments.</h2>
        <h3>if you want to learn more about the application, feel free to <a href="/conUS">contanct me.</a></h3>

    <hr>
        <h2><a href="/homePage">Go to Home Page</a></h2>
</body>
</html>