
body{
    /* background-color: gray; CSS 1 Exercise 1 */
}

.fLinks{
    text-decoration: none;
    color: rgb(130, 130, 130);
}

.cool{
    font-family:Helvetica; 
    font-weight: 550;
}

.W {
    border-width: 10px;
    border-radius: 10px;
    border-color: rgb(41, 190, 140);
    color: blue;
}
.Brief {
    color: blue;

}

.fields{
    font-size: large;
}

.input{
    width: 75px;
    margin-top: 7px;
    margin-left: 55px;
}