.W {
    border-width: 10px;
    border-radius: 10px;
    border-color: rgb(41, 190, 140);
    color: blue;
}
.Brief {
    color: blue;

}

.fields{
    font-size: large;
}

.input{
    width: 75px;
    margin-top: 7px;
    margin-left: 55px;
}