@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700&display=swap');

body {
    background-color: #202020;
    width:900px;
    height: 3553px;
    color: white;
    
}

/* Nav Bar */
.recTop {
    display: inline-flex;
    justify-content: center;
    width: 414px;
    height: 72px;
    flex-shrink: 0;
    background-color: rgba(50, 50, 50, 0.55);
    justify-content: flex-start;
    gap: 159px;
}

#Logo1 {
    margin-top: 20px;
    font-family: 'Tilt Prism', cursive;
    font-size: x-large;
    transform: rotate(10deg);
}

#L2 {
    font-size: larger;
    font-family: 'Tilt Prism', cursive;
    align-self: self-end;
}

#Logo2 {
    margin-top: 20px;
    font-family: 'Tilt Prism', cursive;
    font-size: x-large;
    transform: rotate(-10deg);
}

#langSw {
    height: 26px;
    align-self: center;

}

/* Nav end */

/* Profile */
#circleProfile {
    position: absolute;
    background-color: rgb(68, 86, 168);
    border-radius: 240px;
    height: 240px;
    width: 240px;
    flex-shrink: 0;
    margin-left: 48px;
    text-align: center;
}

#alpha {
    font-size: 50px;
    transform: translate(0, 32px);
    color: white;
}

/* End */

/* Intro */
.largeHeading {
    color: white;
    width: 366px;
    height: 120px;
    padding-left: 24px;
    text-align: center;
    font-family: 'Manrope';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: -0.5px;
}

/* Brief */
.brief {
    width: 366px;
    padding-top: 20px;
    padding-left: 24px;
    color: #959595;
    text-align: center;
    font-family: 'Manrope';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    /* 144.444% */
}

/* Email Button */
.emtext {
    color: #FFF;
    font-family: 'Manrope';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.emBtn {
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-width: 0px;
    border-radius: 4px;
    background: #9D9D9D;
    display: flex;
    width: fit-content;
    transform: translate(46px, 30px);

}

#work {
    margin-left: 24px;
    color: #DEDEDE;
    font-family: 'Manrope';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@keyframes Opacity {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 0.33;
    }

    66% {
        opacity: 0.66;
    }

    100% {
        opacity: 1;
    }
}

.images {
    width: 366px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 4px;
    transform: translate(-18px);
    margin-bottom: 24px;
    object-fit: cover;

}

.icons {
    height: 26px;
}
.iconBar{
    display:inline-flex; gap: 32px; width: auto; height:26px; transform:translate(81.5px,48px)
}


#abd {
    color: #ECECEC;
    font-size: 16px;
    font-family: 'Manrope';
    font-weight: 600;
    line-height: 20px;
    word-wrap: break-word"

}

footer {
    background-color: #202020;
}

.copyW {
    color: #959595;
    font-size: 16px;
    font-family: 'Manrope';
    font-weight: 600;
    line-height: 20px;
    word-wrap: break-word
}

/* CSS 3 - Exercise 3 */
.emBtn:hover {
    background-color: #878787;
}

/* Part 2 */
.recTop .disap {
    opacity: 0;
    transition: opacity 2s ease-in;
}

.recTop:hover #ham {
    opacity: 1;
}

.recTop:hover #logo1 {
    opacity: 1;
    transition-delay: 1s;
}

.recTop:hover #L2 {
    opacity: 1;
    transition-delay: 1s;
}

.recTop:hover #logo2 {
    opacity: 1;
    transition-delay: 1s;
}

.recTop:hover #langSw {
    opacity: 1;
    transition-delay: 2s;
}

/* CSS 3 Exercise 4 */
/* Not completed */
@keyframes loading {
    100% {
        transform: scale(4);
        border: 1px solid rgba(255, 255, 255, 0);
    }
    75% {
        transform: scale(4);
        border: 1px solid rgba(255, 255, 255, 0.2);
        
    }
    50% {
        transform: scale(3);
        border: 1px solid rgba(255, 255, 255, 0.5);
        
    }
    25% {
        border: 1px solid rgba(255, 255, 255, 0.7);
        transform: scale(2);
        
    }
}
#circle:first-child {
    width: 50px;
    height: 50px;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 130px;
    animation: loading 0.8s infinite steps(100);
}
#circle:nth-child(2) {
    width: 50px;
    height: 50px;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 130px;
    animation: loading 0.8s infinite steps(100);
    animation-delay: 0.4s;
    
}
#anchor {
    position: fixed;
    width: 10px;
    height: 10px;
    transform: translate(175px, 300px);
    animation: hideLoad 2s forwards 2s; 
    
}
#content{
    opacity: 0;
    animation: loadPage 2s forwards 4s ;
}
@keyframes loadPage{
    to{
        opacity:1
    }
}
@keyframes hideLoad {
    to{
        opacity: 0;
        visibility: hidden;
    }
}
.float{
    padding-top: 13px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* background-color: rgba(50, 50, 50, 0.55); */
    border-left: 3px solid #292929;
    width: 75px;
    height:136px;
    position: fixed; 
    left: 425px;
    z-index: 2;
    
}
.float a{
    align-self: center;
    color: rgb(255, 255, 255);
    text-decoration: none; 
}

.intials{
    position: absolute;
    font-size: 36px;
    left:362px;
    color: #202020;
    font-family:cursive;
    
}

