
body{
    /* background-color: gray; CSS 1 Exercise 1 */
}
.top{
    background-color: rgb(131, 24,27);
    color: rgb(193, 165, 6);
}

.fLinks{
    text-decoration: none;
    color: rgb(130, 130, 130);
}

.cool{
    font-family:Helvetica; 
    font-weight: 550;
}

.W {
    border-width: 10px;
    border-radius: 10px;
    border-color: rgb(41, 190, 140);
    color: blue;
}
.Symbol{
    color: lightgray;
    text-shadow: -1px -1px 0px gray,
    1px -1px 0px grey,
    -1px 1px 0px grey,
    1px 1px 0px grey;
    
}
.Brief {
    color: blue;

}

.fields{
    font-size: large;
}

a{
color: green;
}

.input{
    width: 75px;
    margin-top: 7px;
    margin-left: 55px;
}